@keyframes lockpicker-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lockpicker-bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .6);
}
hr.lockpicker-hr {
  margin: 3px 0;
}
.lockpicker-container {
  position: fixed;
  /* PC트위터 기준 상단바 프로필 메뉴는 z-index: 900 */
  /* 따라서 그보다 낮은 값으로 설정하여 메뉴를 가리지 않도록 함 */
  z-index: 800;
}
.lockpicker-dialog {
  padding: 15px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 450px;
  box-shadow: 0 2px 20px #6666;
  animation: lockpicker-fade-in .5s;
  will-change: opacity;
}
progress.lockpicker-progress {
  width: 100%;
}
.lockpicker-controls {
  margin: 5px 0;
  float: right;
}
.lockpicker-controls .btn {
  border-radius: 5px;
}
.lockpicker-controls .normal-btn {
  color: inherit;
}
.lockpicker-controls .btn:disabled {
  cursor: not-allowed;
}
.lockpicker-controls .btn ~ .btn {
  margin: 0 5px;
}
.lockpicker-blocked-user {
  font-weight: bold;
}
/* ---------- 모바일 ---------- */
.lockpicker-mobile .lockpicker-bg {
  background-color: rgba(0, 0, 0, .8);
}
.lockpicker-mobile .lockpicker-dialog {
  border-radius: 10px;
  min-width: 250px;
  width: 90vw;
  max-height: 95vh;
  font-size: 16px;
}
.lockpicker-mobile hr.lockpicker-hr {
  border-top: 1px solid;
  border-bottom: 0;
}
.lockpicker-mobile .lockpicker-controls {
  text-align: right;
}
.lockpicker-mobile .btn {
  padding: 10px 25px;
  border: 1px solid;
  font-size: 1.25em;
}

ul.lockpicker-found-user-list {
  line-height: 175%;
  list-style-type: circle;
  list-style-position: inside;
}

.lockpicker-mobile .lockpicker-controls .btn ~ .btn {
  margin: 0 20px;
}
.lockpicker-mobile .lockpicker-controls .btn:disabled {
  opacity: .4;
}

/* --- 야간모드 off --- */
.lockpicker-mobile-light .lockpicker-dialog {
  background-color: #fff;
  color: #000;
}
.lockpicker-mobile-light .btn {
  background-color: #ccc;
  border-color: #999;
}
.lockpicker-mobile-light .lockpicker-user {
  color: crimson;
  text-decoration: underline;
}
.lockpicker-mobile-light .btn.caution-btn {
  background-color: crimson;
  color: white;
}

/* --- 야간모드 on --- */
.lockpicker-mobile-dark .lockpicker-dialog {
  background-color: #141d26;
  color: #fff;
}
.lockpicker-mobile-dark .btn {
  background-color: #1b2836;
  border-color: #666;
}
.lockpicker-mobile-dark .lockpicker-user {
  color: #f47189;
  text-decoration: underline;
}
.lockpicker-mobile-dark .btn.caution-btn {
  background-color: crimson;
  color: white;
}
